

html {
  font-size: 16px;

}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eceef4;
  padding: 0;
}
@font-face {
  font-family: 'A-OTF-ShueiMGoStd-B-2';
  src: url('/assets/font/A-OTF-ShueiMGoStd-B-2.otf')
}
@font-face {
  font-family: 'A-OTF-ShueiMGoStd-L-2';
  src: url('/assets/font/A-OTF-ShueiMGoStd-L-2.otf')
}
@font-face {
  font-family: 'Arial-Black';
  src: url('/assets/font/Arial-Black.ttf')
}
span,a,h1,h2,h3,h4,h5,h6 {
  font-family: 'A-OTF-ShueiMGoStd-B-2' !important;
}


body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

.mis-flex-row {
  display: flex;
  flex-direction: row;
}

.mis-flex-col {
  display: flex;
  flex-direction: column;
}

.mis-justify-start {
  justify-content: flex-start;
}

.mis-justify-center {
  justify-content: center;
}

.mis-justify-end {
  justify-content: flex-end;
}

.mis-justify-evenly {
  justify-content: space-evenly;
}

.mis-justify-around {
  justify-content: space-around;
}

.mis-justify-between {
  justify-content: space-between;
}

.mis-items-start {
  align-items: flex-start;
}

.mis-items-center {
  align-items: center;
}

.mis-items-end {
  align-items: flex-end;
}


.mis-items-center {
  align-items: center;
}

.mis-items-baseline {
  align-items: baseline;
}

.mis-items-stretch {
  align-items: stretch;
}

.mis-self-start {
  align-self: flex-start;
}

.mis-self-end {
  align-self: flex-end;
}

.mis-self-center {
  align-self: center;
}

.mis-self-baseline {
  align-self: baseline;
}

.mis-self-stretch {
  align-self: stretch;
}

.mis-flex-1 {
  flex: 1 1 0%;
}

.mis-flex-auto {
  flex: 1 1 auto;
}

.mis-grow {
  flex-grow: 1;
}

.mis-grow-0 {
  flex-grow: 0;
}

.mis-shrink {
  flex-shrink: 1;
}

.mis-shrink-0 {
  flex-shrink: 0;
}

.mis-relative {
  position: relative;
}