.page {
  padding: 9.06rem 1rem 6.19rem;
  background-color: #ECEEF4;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  padding-bottom: 0.25rem;
}
.space-y-4 > *:not(:first-child) {
  margin-top: 0.25rem;
}
.space-y-25 > *:not(:first-child) {
  margin-top: 1.56rem;
}
.video{
width: 100%;
height: 100%;
display:flex;
align-items: center;
justify-content: center;
}
.miso_vidio{
width:370px;
position: absolute;
border-radius:1.88rem;
}
.percentage{
    width: 100%;
    height: 100%;
display:flex;
align-items: center;
justify-content: center;

}
.image {
  background-color: #e6e8ee;
  border-radius: 1.88rem;
  box-shadow: -0.63rem -0.63rem 0.94rem #ffffff, 0.63rem 0.63rem 0.94rem #0000001a;
  width: 24.75rem;
  height: 14.81rem;
  
}
.image_2 {
  width: 3.5rem;
  height: 3.5rem;
}
.text {
  margin-left: 0.13rem;
  color: #6e6767;
  font-size: 0.5rem;
  font-family: DNPShueiMGoStd-B;
  line-height: 0.44rem;
}
.equal-division {
  margin-top: 13.31rem;
}
.equal-division-item {
  filter: drop-shadow(-0.63rem -0.63rem 0.47rem #ffffff80);
  background-image: url('/assets/Image/css_common1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 10.56rem;
  height: 10.63rem;
}
.image_3 {
  width: 22.75rem;
  height: 22.94rem;
}

.group_2 {
  margin-top: 4.5rem;
}
.space-y-30 > *:not(:first-child) {
  margin-top: 1.88rem;
}
.group_3 {
  padding-top: 6.63rem;
}
.image_4 {
  background-color: #68debb;
  border-radius: 7.06rem;
  box-shadow: 0.25rem 0.31rem 0.38rem #00000029 inset;
  width: 8.19rem;
  height: 8.31rem;
}
.pos {
  padding: 1.2rem 0;
  filter: drop-shadow(0.63rem 1.25rem 0.47rem #00000029);
  background-image: url('/assets/Image/css_common2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 19.88rem;
}
.font_1 {
  font-size: 0.94rem;
  font-family: DNPShueiMGoStd-B;
  line-height: 1.13rem;
  color: #6e6767;
}
.image_5 {
  background-color: #81a1f5;
  border-radius: 7.06rem;
  box-shadow: 0.25rem 0.31rem 0.38rem #00000029 inset;
  width: 8.19rem;
  height: 8.31rem;
}
.pos_2 {
    
  padding: 1.63rem 3.13rem;
  filter: drop-shadow(0.63rem 1.25rem 0.47rem #00000029);
  background-image: url('/assets/Image/css_common3.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.space-y-8 > *:not(:first-child) {
  margin-top: 0.5rem;
}
.pos_9 {
  position: absolute;
  right: 0;
  top: 0;
}
.pos_3 {
  position: absolute;
  left: 0;
  top: 10px;
}
.group_4 {
  margin-top: 4.38rem;
  padding: 0 4.63rem;
}
.space-y-56 > *:not(:first-child) {
  margin-top: 3.5rem;
}
.button {
  padding: 2rem 0;
  background-color: #ebeef4;
  border-radius: 4rem;
  box-shadow: 0.63rem 0.94rem 0.94rem #00000029, 0.063rem 0.063rem 0.063rem #ffffff inset;
  cursor: pointer;
}
.font_2 {
  font-size: 1.31rem;
  font-family: DNPShueiMGoStd-B;
  line-height: 1.22rem;
}
.text_2 {
  color: #fd9160;
}
.text_3 {
  color: #81a1f5;
}
.hearts_ctr{
  display:flex;
  align-items: center;
  position: relative;
  background-color: #e6e8ee;
box-shadow: -0.63rem -0.63rem 0.94rem #ffffff80, 0.63rem 0.63rem 0.94rem #0000001a;
border-radius: 50%;
width: 3.51rem;
height: 3.51rem;

}
.hearts{
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  left: 0;
}
.hearts_icon{
  position: absolute;
  left: calc(50% - 0.9rem);
  width: 30px;
}
.hearts_icon_active{
  position: absolute;
  left: calc(50% - 0.9rem);
  width: 30px;
}