<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>miso</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/miso.css" />
    <link rel="stylesheet" href="../common/Menu/menu.css" />
  </head>
  <body>
    <div id="NavSwitch_Wrapper" class="mis-flex-col mis-items-center menu_image_wrapper" style="z-index: 9999">
      <img onclick="Menu()" class="menu_image_nav" src="../assets/Image/hamburger.png" />
    </div>
    <div id="NavSwitch_Header" class="menu_header">
      <div id="NavSwitch_Group" class="mis-flex-col mis-items-end menu_group menu_space-y-72" onclick="JumpMix()">
        <div class="mis-flex-col mis-items-center menu_section_2 menu_space-y-11">
          <span class="menu_font_1 menu_text">Mix</span>
          <span class="menu_font_2">合成</span>
        </div>
        <div class="mis-flex-col mis-items-center menu_section_3 menu_space-y-14" onclick="JumpAbout()">
          <span class="menu_font_1 menu_text_3">About</span>
          <span class="menu_font_2">活動概要</span>
        </div>
        <div class="mis-flex-col mis-items-center menu_section_4 menu_space-y-14" onclick="JumpList()">
          <span class="menu_font_1">List</span>
          <span class="menu_font_2">実験結果一覧</span>
        </div>
        <div class="mis-flex-col mis-items-center menu_section_5 menu_space-y-8" onclick="JumpNews()">
          <span class="menu_font_3">NEWS</span>
          <span class="menu_font_2">お知らせ</span>
        </div>
        <div class="mis-flex-col mis-items-center menu_section_6 menu_space-y-12" onclick="JumpMember()">
          <span class="menu_font_3 menu_text_9">Members</span>
          <span class="menu_font_2">メンバー紹介</span>
        </div>
      </div>
    </div>
    <div class="mis-flex-col mis-relative page">
      <div class="mis-flex-col mis-justify-start">
        <div class="mis-flex-col group space-y-4">
          <div class="mis-flex-col mis-items-start space-y-25">
            <div class="video">
              <video class="miso_vidio" src="/assets/resultList/miso/miso.mp4" poster="/assets/resultList/miso/miso.png" controls></video>
              <img class="image" src="https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/63324b315a7e3f0310665513/6373beb18d7d66001180ae52/16709330015996066094.png" />
            </div>
            <img class="image_2" src="https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/63324b315a7e3f0310665513/6373beb18d7d66001180ae52/16709330015941457191.png" />
          </div>
          <span class="mis-self-start text">タベタイイネ！</span>
        </div>
      </div>
      <div class="percentage">
        <img class="image_3" src="/assets/resultList/miso/miso_pre.png" />
      </div>
      <div class="mis-flex-col mis-relative group_2 space-y-30">
        <div class="mis-flex-col mis-justify-start mis-items-start mis-relative group_3">
          <img class="image_4" src="https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/63324b315a7e3f0310665513/6373beb18d7d66001180ae52/16709330017466388885.png" />
          <div class="mis-flex-col mis-items-center pos space-y-8 pos_9">
            <span class="font_1">マヨネーズの味が強くバナナの味と</span>
            <span class="font_1">あまりマッチしていなかったな。</span>
          </div>
        </div>
        <div class="mis-flex-col mis-justify-start mis-items-end mis-relative group_3">
          <img class="image_5" src="https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/63324b315a7e3f0310665513/6373beb18d7d66001180ae52/16709330017040098232.png" />
          <div class="mis-flex-col mis-items-start pos_2 space-y-8 pos_3">
            <span class="font_1">バナナの独特のボソボソ感と</span>
            <span class="font_1">マヨネーズの粘り気が</span>
            <span class="font_1">食感としてあまり合わないかも…</span>
          </div>
        </div>
      </div>
      <div class="mis-flex-col mis-relative group_4 space-y-56">
        <div class="mis-flex-col mis-justify-start mis-items-center button" onclick="window.location.href = 'slotmachine.html'">
          <span class="font_2 text_2">もう一度合成</span>
        </div>
        <div class="mis-flex-col mis-justify-start mis-items-center button" onclick="window.location.href = 'reslist.html'">
          <span class="font_2 text_3">実験一覧</span>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../common/Menu/menu.js"></script>
  </body>
</html>
