<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/SlotMachine.css" />
  </head>
  <body>
    <div class="mis-flex-col mis-items-center page1">
      <img class="image" src="https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/63324b315a7e3f0310665513/6373beb18d7d66001180ae52/9113ead35e2f26e82805c05544f53094.png" />
      <div class="myluck_cti">
        <div id="my-lucky" src=""></div>
      </div>
      <img class="image_3" src="https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/63324b315a7e3f0310665513/6373beb18d7d66001180ae52/0864f26ea1b63f0ee1c384fafb2a7ad7.png" />
    </div>
    <script src="/js/mylucky.js"></script>
    <script src="/js/slotmachine.js"></script>
  </body>
</html>
